body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    /* width: 100vw; */
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .div1{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  input {
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    box-sizing: border-box;
    border: 2px solid rgb(52, 152, 219);
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
  }

  input:focus {
    border-color: #2ecc71;
  }

  button {
    background-color: rgb(52, 152, 219);
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.1s;
  }

  button:hover {
    background-color: #2ecc71;
  }